<div class="row no-gutters justify-content-center">
    <div class="col text-center">
        Red
    </div>
    <div class="col text-center">
        Black
    </div>
</div>
<div class="row no-gutters justify-content-center">
    <div class="col text-center">
        50%
    </div>
    <div class="col text-center">
        50%
    </div>
</div>
<div class="row no-gutters justify-content-center">
    <div class="col text-center">
        1-13
    </div>
    <div class="col text-center">
        14-27
    </div>
    <div class="col text-center">
        27-36
    </div>
</div>
<div class="row no-gutters">
    <div class="col text-center">
    </div>
    <div class="col text-center">
    </div>
    <div class="col text-center">
    </div>
</div>